.radio() {
  outline: 0;
  cursor: pointer;
  color: #000;
  position: relative;
  border-radius: 6px;
  user-select: none;
  border: 0;
}
.radio-wrapper() {
  &-wrapper {
    border-radius: 50%;
    position: relative;
    border: 1px solid currentColor;
    transition:@transition-duration-base @transition-timing;
    &::before {
      content: "";
      width: 0;
      height: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background-color: #fff;
      position: absolute;
      border-radius: inherit;
      transition: inherit;
    }
  }
}
.radio-effect() {
  &-effect {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    position: absolute;
    background-color: @primary-color-hover;
    border: 6px solid @primary-color-hover;
    .@{prefix}-ripper-inner{
      border: 2px soild red
    }
  }
}
.radio-checked(){
  &[checked]{ 
    .@{prefix}-radio-wrapper {
      &::before{
        width: 50%;
        height: 50%;
      }
    }
  }
}
.radio-inner() {
  &-inner {
    position: relative;
  }
}
.radio-size() {
  &-normal {
    .@{prefix}-radio-wrapper {
      width: 16px;
      height: 16px;
    }
  }
  &-small {
    .@{prefix}-radio-wrapper {
      width: 18px;
      height: 18px;
    }
  }
  &-large {
    .@{prefix}-radio-wrapper {
      width: 20px;
      height: 20px;
    }
  }
}
.radio-disabled() {
  &:disabled {
    cursor: not-allowed;
    
  }
}
