.radio() {
    outline: 0;
    cursor: pointer;
    position: relative;
    user-select: none;
    border: 0;
}

.radio-effect() {
    &-effect {
        border-radius: 50%;
        position: relative;
        box-sizing: border-box;
        border: 1px solid currentColor;
    }
}

.radio-effect-ripple() {
    &-effect-ripple {
        left: 50%;
        top: 50%;
        width: 250%;
        height: 250%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        position: absolute;
    }
}

.radio-effect-inner() {
    &-effect-inner {
        width: 100%;
        height: 100%;
        display: block;
        transform: scale(0.6);
        border-radius: inherit;
        box-sizing: border-box;
        background: currentColor;
        transition: inherit;
        display: none;
    }
}

.radio-size() {
    &-normal {
        .@{prefix}-radio-effect {
            width: 16px;
            height: 16px;
        }
    }

    &-small {
        .@{prefix}-radio-effect {
            width: 18px;
            height: 18px;
        }
    }

    &-large {
        .@{prefix}-radio-effect {
            width: 20px;
            height: 20px;
        }
    }
}

.radio-checked() {
    &[checked] {
        .@{prefix}-radio-effect-inner {
            display: block;
        }
    }
}

.radio-disabled() {
    &:disabled {
        cursor: not-allowed;
    }
}

// .radio-wrapper() {
//   &-wrapper {
//     border-radius: 50%;
//     position: relative;
//     border: 1px solid currentColor;
//     transition:@transition-duration-base @transition-timing;
//     &::before {
//       content: "";
//       border-radius: inherit;
//       position: absolute;
//       left:50%;
//       top: 50%;
//       width: 50%;
//       height: 50%;
//       background-color: transparent;
//       transform: translate(-50%,-50%) ;
//     }
//   }
// }
// .radio-effect() {
//   &-effect {
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     opacity: 0.5;
//     border-radius: inherit;
//     position: absolute;
//     background-color: transparent;
//   }
// }
// .radio-checked(){
//   &[checked]{ 
//     .@{prefix}-radio-wrapper {
//       &::before{
//        background-color: currentColor;
//       }
//     }
//   }
// }
// .radio-inner() {
//   &-inner {
//     position: relative;
//   }
// }

// .radio-disabled() {
//   &:disabled {
//     cursor: not-allowed;
//   }
// }
// .radio-clicked(){
//   &-clicked{
//     .@{prefix}-radio-effect{
//       animation: radio-checkbox-effect 0.2s both;
//       background-color: currentColor;
//     }
//   }
// }
// @keyframes radio-checkbox-effect{
//   0%{
//     transform: scale(1)
//   }
//   100%{
//     transform: scale(2.5)
//   }
// }