.checkbox() {
  outline: 0;
  cursor: pointer;
  color: #000;
  position: relative;
  border-radius: 6px;
  user-select: none;
  border: 0;
}
.checkbox-wrapper() {
  &-wrapper {
    border-radius: @border-radius-base;
    position: relative;
    border: 1px solid transparent;
    background-color: transparent;
    transition: @transition-duration-base @transition-timing;
    &::before {
      content: "";
      width: 30%;
      height: 55%;
      display: block;
      border: 2px solid transparent;
      border-left: 0;
      border-top: 0;
      margin-top: -10%;
      position: absolute;
      transition: inherit;
      transform: rotate(45deg);
    }
  }
}
.checkbox-effect() {
  &-effect {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: inherit;
    position: absolute;
    background-color: @primary-color-hover;
    border: 6px solid @primary-color-hover;
  }
}
.checkbox-checked() {
  &[checked] {
    .@{prefix}-checkbox-wrapper {
      &::before {
        border-color: #fff;
      }
    }
  }
}
.checkbox-inner() {
  &-inner {
    position: relative;
  }
}
.checkbox-size() {
  &-normal {
    .@{prefix}-checkbox-wrapper {
      width: 16px;
      height: 16px;
    }
  }
  &-small {
    .@{prefix}-checkbox-wrapper {
      width: 18px;
      height: 18px;
    }
  }
  &-large {
    .@{prefix}-checkbox-wrapper {
      width: 20px;
      height: 20px;
    }
  }
}
.checkbox-disabled() {
  &:disabled {
    cursor: not-allowed;
  }
}
.checkbox-primary() {
  &-primary {
    &:enabled {
      .@{prefix}-checkbox-wrapper {
        border-color: @primary-color-disabled;
      }
      &:hover {
        .@{prefix}-checkbox-wrapper {
          border-color: @primary-color-hover;
        }
      }
      &:focus {
        .@{prefix}-checkbox-wrapper {
          // 暂不启用focus状态
          //border-color: @primary-color-focus;
        }
      }
      &:active {
        .@{prefix}-checkbox-wrapper {
          border-color: @primary-color-active;
        }
      }
      &[checked] {
        .@{prefix}-checkbox-wrapper {
          border-color: @primary-color-enabled;
          background-color: @primary-color-enabled;
        }
      }
      &.@{prefix}-checkbox-clicked {
        .@{prefix}-checkbox-effect {
          animation: @animation-duration-base effect-zoom-in
              @animation-timing-effect,
            @animation-duration-base effect-fade-out @animation-timing-effect;
        }
      }
    }
    &:disabled {
      color: @primary-color-disabled;
      .@{prefix}-checkbox-wrapper {
        border-color: @primary-color-border-disabled;
        background-color: @primary-color-background-disabled;
        &::before {
          border-color: @primary-color-disabled;
        }
      }
    }
  }
}
