.button() {
  outline: 0;
  cursor: pointer;
  color: #000;
  position: relative;
  border-radius: 6px;
  user-select: none;
  transition:@transition-duration-base @transition-timing;
  background-color: transparent;
  border: 1px solid transparent;
}
.button-wrapper() {
  &-wrapper {
    height: 100%;
    border-radius: inherit;
    position: relative;
  }
}
.button-effect() {
  &-effect {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: inherit;
    position: absolute;
    background-color: @primary-color-hover;
    border: 6px solid @primary-color-hover;
  }
}
.button-inner() {
  &-inner {
    position: relative;
    border-radius: inherit;
  }
}
.button-size() {
  &-auto {
  }
  &-normal {
    .@{prefix}-button-wrapper {
      padding: 4px 32px;
    }
  }
  &-small {
    width: 114px;
    height: 32px;
    &.@{prefix}-button-circle {
      width: 32px;
    }
  }
  &-large {
    width: 200px;
    height: 40px;
    &.@{prefix}-button-circle {
      height: 200px;
    }
  }
}
.button-shape() {
  &-circle {
    border-radius: 50%;
  }
  &-round {
    border-radius: 20px;
  }
}
.button-disabled() {
  &:disabled {
    cursor: not-allowed;
  }
}
.button-primary() {
  &-primary {
    &:enabled {
      color: #fff;
      border-color: @primary-color-enabled;
      background-color: @primary-color-enabled;
      &:hover {
        background-color: @primary-color-hover;
      }
      &:focus {
        background-color: @primary-color-focus;
      }
      &:active {
        background-color: @primary-color-active;
      }
      &.@{prefix}-button-clicked {
        .@{prefix}-button-effect {
          animation: @animation-duration-base effect-zoom-in @animation-timing-effect, @animation-duration-base effect-fade-out @animation-timing-effect;
        }
      }
    }
    &:disabled {
      color: @primary-color-disabled;
      border-color: @primary-color-border-disabled;
      background-color: @primary-color-background-disabled;
    }
  }
}
