.button() {
  outline: 0;
  cursor: pointer;
  color: #fff;
  border: 0;
  position: relative;
  border-radius: @button-border-radius-base;
  user-select: none;
  transition:@transition-duration-base @transition-timing;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: inherit;
    transition: inherit;
    border:inherit;
    box-sizing: border-box;
    border-radius: inherit;
  }
}
.button-wrapper() {
  &-wrapper {
    height: 100%;
    border-radius: inherit;
    position: relative;
  }
}
.button-effect() {
  &-effect {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: inherit;
    position: absolute;
    background-color: @primary-color-hover;
    border: 6px solid @primary-color-hover;
  }
}
.button-inner() {
  &-inner {
    position: relative;
    border-radius: inherit;
  }
}
.button-size() {
  &-auto {
  }
  &-normal {
    .@{prefix}-button-wrapper {
      padding: 4px 32px;
    }
  }
  &-small {
    width: 114px;
    height: 32px;
    &.@{prefix}-button-circle {
      width: 32px;
    }
  }
  &-large {
    width: 200px;
    height: 40px;
    &.@{prefix}-button-circle {
      height: 200px;
    }
  }
}
.button-shape() {
  &-circle {
    border-radius: 50%;
  }
  &-round {
    border-radius: 30px;
  }
}
.button-disabled() {
  &:disabled {
    cursor: not-allowed;
  }
}
.button-outline(){
}