.popover() {
    opacity: 0;
    position: fixed;
    transition: 0.5s;
    z-index: 2147483647;
}

.popover-visible() {
    &:not(&-visible) {
        opacity: 0 !important;
    }
}

.popover-enter() {
    &-enter {
        opacity: 1;
    }
}

.popover-leave() {
    &-leave {
        &-self {
            opacity: 0;
        }

        &-reference {
            opacity: 0;
        }
    }
}


.popover-reference() {
    &-reference {
        display: inline-flex;
    }
}