@import './components.less';
@prefix:nick;
@primary-color: #1890ff;   
@disabled-color : rgba(0,0,0,0.25);        
@border-color-base: #d9d9d9; 
@border-radius-base:4px;
// 动画效果
@animation-duration-base:0.3s;
@animation-timing-effect:cubic-bezier(.645, .045, .85, 1); 
// 过渡效果
@transition-duration-base:0.3s;
@transition-timing:linear;

// 主要颜色
@primary-color-enabled:@primary-color;
@primary-color-hover:lighten(@primary-color-enabled,10%);
@primary-color-focus:lighten(@primary-color-enabled,10%);
@primary-color-active:darken(@primary-color-enabled,10%);
// 主要禁用色
@primary-color-disabled:@disabled-color;
@primary-color-border-disabled:lighten(@primary-color-disabled,30%);
@primary-color-background-disabled:lighten(@primary-color-border-disabled,50%);
// 主要颜色主禁用色
@primary-color-primary-disabled:lighten(@primary-color-enabled,20%);




