.toast() {    
    overflow: hidden;
    position: relative;
}
.toast-message() {
    &-message {
        top: 0;
        left: 50%;
        opacity: 0;
        color: #fff;
        position: fixed;
        padding: 8px 16px;
        border-radius: 6px;
        transition-duration: 0.5s ;
        transform: translate(-50%,-100%);
        transition-property: opacity,transform;
        background-color: rgba(0, 0, 0, 0.75);
        &-inner{
            position: absolute;
        }
    }
}

.toast-message-enter() {
    &-message {
        &-enter {
            opacity: 1;
            transform: translate(-50%,20px);
        }
    }
}

.toast-message-leave() {
    &-message {
        &-leave {
            opacity: 0;
            transform: translate(-50%,-100%);
        }
    }
}