.ripple() {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
}
@keyframes ripple {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1);
  }
}
@keyframes ripple-hide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.ripple-inner() {
  &-inner {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0.12;
    position: absolute;
    border-radius: 50%;
    &::before{
      content: "";
      display: block;
      height: 100%;
      background:rgba(255, 255, 255, 0.3);
      border-radius: inherit;
      border:inherit;
      transition: inherit;
      will-change: inherit;
    }
  }
}
.ripple-show() {
  &-show {
    .@{prefix}-ripple-inner {
      will-change: transform;
      background-color: currentColor;
      animation: ripple 1.2s cubic-bezier(0, 0, 0.2, 1);
      &::before{
        animation: ripple 1s 0.2s cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }
}
.ripple-hide() {
  &-hide {
    overflow: visible;
    .@{prefix}-ripple-inner {
      background-color: currentColor;
      animation: ripple-hide 1.2s cubic-bezier(0, 0, 0.2, 1);
      &::before{
        animation: ripple-hide 1s 0.2s cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }
}
